{{!-- <li class="list-group-item">
	{{burger_name}}&nbsp;&nbsp; 

	<button type="button" class="btn btn-outline-danger btn-sm change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}RESTORE TO MENU{{/if}}
	</button>
	&nbsp;

	{{#if devour}}
	<button type="button" class="btn btn-outline-danger btn-sm" id="delete" data-id="{{id}}">DELETE</button>
	{{/if}}

</li> --}}