{{!-- <ul>
  {{#each pupper}}
    <li>
      <p>Owner Name: {{ownerName}}</p>
      <p>Dog Name: {{dogName}}</p>
      <p>Image: {{image}}</p>
    </li>
  {{/each}}
</ul> --}}


<div class="container">
    <div class="row">
      {{#each pupper}}
        <div class="col-md-4 col-xs-12">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header" id="owner">Owner: {{ownerName}}</div>
                <div class="card-body">
                    <h4 class="card-title" id="match-name">{{dogName}}</h4>
                    <img style="height: 200px; width: 100%; display: block;" id="image" src="{{image}}" alt="Pupper Pic">
                    <br>
                    <p class="card-text">Size: {{size}}.</p>
                    <p class="card-text">Family Friendly: {{familyFriendly}}.</p>
                    <a class="btn btn-secondary btn-sm" href="#" role="button">Send Message</a>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
      {{/each}}
    </div>
</div>